[submodule "Plugins/gemstar_interfaces"]
	path = Plugins/gemstar_interfaces
	url = https://github.com/DLR-TS/gemstar_interfaces.git
[submodule "Plugins/GameFeatures/ue_lidar_feature"]
	path = Plugins/GameFeatures/ue_lidar_feature
	url = https://github.com/DLR-TS/ue_lidar_feature.git
[submodule "Plugins/GameFeatures/ue_sumo_feature"]
	path = Plugins/GameFeatures/ue_sumo_feature
	url = https://github.com/DLR-TS/ue_sumo_feature.git
[submodule "Plugins/GameFeatures/ue_esmini_feature"]
	path = Plugins/GameFeatures/ue_esmini_feature
	url = https://github.com/DLR-TS/ue_esmini_feature.git
[submodule "Plugins/GameFeatures/ue_camera_feature"]
	path = Plugins/GameFeatures/ue_camera_feature
	url = https://github.com/DLR-TS/ue_camera_feature.git
[submodule "Plugins/GameFeatures/ue_logger_feature"]
	path = Plugins/GameFeatures/ue_logger_feature
	url = https://github.com/DLR-TS/ue_logger_feature.git
[submodule "Plugins/GameFeatures/ue_visualizer_feature"]
	path = Plugins/GameFeatures/ue_visualizer_feature
	url = https://github.com/DLR-TS/ue_visualizer_feature.git
[submodule "Plugins/GameFeatures/ue_vehicle_feature"]
	path = Plugins/GameFeatures/ue_vehicle_feature
	url = https://github.com/DLR-TS/ue_vehicle_feature.git
